
// $font
$font-size : 1.5rem;
$font-family: 'Roboto', Arial, sans-serif;


// $color
$color-active: #F05754;
$color-blue: #0078D7;
$color-menu--blue:#158ADE;
$color-orange: #FFA930;
$color-white: white;
$color-link--gray: #d9d9d9;
$color-table--gray: #E4E4E4;

$color-border--gray: #bfbfbf;
$color-border--light-gray: #c7c7c7;
$color-button--gray: #333;




$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;



// media queries
//$mobile : '(max-width: 640px)'
//$fablet : '(max-width: 767px)'
//$tablet : '(max-width: 960px)'












